.banner {
  width: 100%;
  height: 579px;
  padding-top: 14rem;
  padding-bottom: 2rem;
  background: url("/assets/img/pexels-maxime-francis-2246476-bannermobile.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 35px;

  &__info {
    display: flex;
    gap: 10px;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 110px;
      min-height: 28px;
      border-radius: 3px;
      font-size: var(--small-font-size);
      font-weight: var(--medium-font-weight);
      letter-spacing: -0.36px;
      padding: 5px 30px;
    }

    &__category {
      background: var(--white-color);
      color: var(--gray-light);
    }

    &__minutes {
      border: 1px solid var(--white-color);
    }
  }

  &__title {
    font-size: var(--h1-font-size);
    letter-spacing: -1.6px;
    line-height: var(--h1-font-size);
    margin: 1.75rem 0;
  }

  &__btn {
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: var(--medium-font-weight);
    padding: 12px 70px;
    border-radius: 3px;
  }

  &__img {
    object-fit: cover;
  }
}

@media screen and (min-width: 767px) {
  .banner {
    height: 1000px;
    padding-top: 470px;

    &__info {
  
      > div {

        min-width: 128px;
        min-height: 32px;
        border-radius: 3px;
        font-size: 18px;
        letter-spacing: 0.54px;
        padding: 5px 36px;
      }

    }

    &__title {
      font-size: 100px;
      letter-spacing: -4px;
      line-height: 100px;
      width: 800px;
    }

    &__btn {
      font-size: 18px;
      padding: 20px 100px;
      border-radius: 3px;
    }
  }

  

}
