/*==== HEADER ==== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*==== NAV ==== */
.nav {
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    padding: 1rem 2rem;    
  }

  @media screen and (max-width: 767px) {
    &__menu {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.9);
      height: 5rem;
      padding: 0 1rem;
      display: grid;
      align-content: center;
      transition: .4s;
    }    
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
  }

  &__name {
    font-size: var(--small-font-size);
    font-weight: 700;
    color: white;
  }
}
