/*==== HEADER ==== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--black-transparent);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*==== NAV ==== */
.nav {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo img {
    width: 103px;
  }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    color: var(--white-color);

    &-active {
      color: var(--primary-color);
    }
  }

  &__icon {
    display: none;
  }

  &__icon-active {
    path {
      fill: var(--primary-color);
    }
  }

  &__name {
    font-size: 19px;
    font-weight: var(--medium-font-weight);
  }
}

@media screen and (max-width: 767px) {
  .nav {
    height: 3.75rem;
    justify-content: center;

    &__menu {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.9);
      height: 5rem;
      padding: 0 1rem;
      display: grid;
      align-content: center;
      transition: 0.4s;
    }

    &__logo img {
      width: 72px;
    }

    &__list {
      justify-content: space-around;
    }

    &__icon {
      display: block;
    }

    &__name {
      font-size: var(--small-font-size);
    }
  }
}

