:root {
  
  /* ==== Colors ==== */
  --primary-color: #ff0000;

  --title-color: #ff0000;
  --text-color: #fff;

  --body-color: #000;

  --black-color: #000;
  --black-transparent: rgba(0, 0, 0, 0.9);

  --white-color: #fff;
  --white-trasparent: rgba(255, 255, 255, 0.16);
  --gray-dark: #121212;
  --gray-light: #5A5A5A;

  /* ==== Font and typografy ==== */
  --body-font: 'CircularSpotify', sans-serif;

  --h1-font-size: 2.5rem;
  --h2-font-size: 1.4375rem;
  --h3-font-size: 1.25rem;

  --normal-font-size: 1rem;
  --normal-font-weight: 700;

  --medium-font-weight: 500;

  --small-font-size: .75rem;

  /* ==== z-index ==== */
  --z-tooltip: 10;
  --z-fixed: 100;

}
